<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .strikethrough {
            text-decoration: line-through;
        }
    </style>
    <script>
        function handleCheckboxChange(checkbox, taskId) {
            const form = document.getElementById(`form-${taskId}`);
            form.submit();
        }
    </script>
    <h1>Listado de tareas</h1>
    <h1>Listado de tareas 2 </h1>

</head>
<body >
<div class="global">
    <div class="espacio_div"> 
        <table>
            <thead>
                <tr>
                    <td class="espacio">Fecha</td>
                    <td class="espacio">Task</td>
                </tr>
            </thead>
            <tbody>
                <tr class="espacio">
                    <form action="/add_task" method="POST">
                        <td>
                            <input class="input-box1" type="date" name="date">
                        </td>
                        <td>
                            <input class="input-box1" type="text" name="nombre"  placeholder="New Task">
                        </td>
                        <td>
                            <button class="input-box1" type="submit">
                            <i class='bx bx-message-square-add bx-flip-vertical' ></i>
                            </button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="espacio_div">
        <table >
            <thead >
                <tr class="espacio">
                    <th>Completed</th>
                    <th >Date</th>
                    <th >Task</th>
                </tr>
            </thead>
            <tbody >
                {% for task in tasks %}
                <tr class="{% if task['completed'] %}strikethrough{% endif %}">
                    <td>                        
                        <form id="form-{{ task['id'] }}" action="/updateTask/{{ task['id'] }}" method="POST">
                            <input class="mycheck" type="checkbox" name="completed" onchange="handleCheckboxChange(this, {{ task['id'] }})" {% if task['completed'] %}checked{% endif %}>
                        </form>
                        
                    </td>
                    <td class="espacio">{{ task['date'] }}</td>
                    <td class="espacio">{{ task['nombre'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
