<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div>
        <table>
            <thead>
                <tr class="encabezado">
                    <td>Fecha</td>
                    <td>Task</td>

                </tr>
            </thead>
                <tr> 
                    <form action="/add_task" method="POST">
                    <td><input type = "date" name="date"></td>
                    <td><input type="text" name="nombre"> </td>
                    <td> <button type="submit"> +</button></td>

                    </form>
                </tr>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
<!-- segunda tabla -->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Completed</th>
                    <th>Date</th>
                    <Th>Task</Th>
                </tr>
            </thead>

            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{task['nombre']}}</td>
                    <td>{{task['date']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




</body>
</html>